:root {
  --bg-dark: #2a2a2a;
  --bg-main: #484848;
  --bg-card: #606060;
  --radius: 20px;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- NAV ---------- */
.nav {
  width: 100%;
  padding: 1rem 2rem;
  background: var(--bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
}

.name {
  color: var(--text-light);
  font-weight: bold;
}

.right-side {
  display: flex;
  gap: 1rem;
}

.click {
  color: white;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  border: 1px solid #555;
  transition: background 0.3s;
}

.click:hover {
  background: #181818;
}

/* ---------- HERO ---------- */
.big-text {
  min-height: 40vh;
  background: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Frontend {
  font-size: 3.5rem;
  color: white;
}

/* ---------- MAIN CONTENT ---------- */
.main-middle {
  background: var(--bg-main);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2.5rem;
}

.left,
.middle,
.right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.one,
.two{
  background: var(--bg-card);
  padding:3.5rem;
  margin-bottom: 1rem;  border-radius: var(--radius);
}
.left-profolow,
.left-book,
.left-ecomers,
.Education {
  background: var(--bg-card);
  padding: 1.5rem;
  border-radius: var(--radius);
}

/* ---------- TEXT ---------- */
.Projects-txt,
.exp {
  color: white;
  font-size: 1.5rem;
}
.Education h3{
  color: white;
}
.profoliw { color: gold; text-decoration: none;}
.book-txt { color: #52b4ff;text-decoration: none; }
.market-txt { color: #c59afa; text-decoration: none;}

/* ---------- BOTTOM ---------- */
.main-bottom {
  background: var(--bg-main);
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bottom h1{
  color: white;
}
.bottom-middle{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0.5rem; 
}
 
.container {
  background: var(--bg-card);
  padding: 2rem;
  border-radius: var(--radius);
}

/* ---------- ANIMATION ---------- */
.image:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
  .main-middle {
    grid-template-columns: 1fr;
  }
  .nav {
  width: 100%;
  height: 30%;
  padding: 2rem 2rem;
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:2rem
}


  .right-side {
    display: flex;
  }

  .bottom-middle{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem; 
  }
  .container{
    padding: 4rem;
  }
}
