*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.main-upper{
  width: 100%;
  height: 60vh;
}

.nav{
  width: 100%;
  height: 21%;
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 50%;
}

.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image{
  border-radius: 15px;
  width: 4rem;
  height: 4rem;
}

.name{
  color:white;
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: 0;
}

.right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  gap: 10px;
}
.click{
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  border: 1x solid rgb(72, 72, 72);
}

.big-text{
  width: 100%;
  height: 80%;
  background-color: rgb(72, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Frontend{
  color: white;
  font-size: 75px;
}

.main-middle{
width: 100%;
height: 50vh;
background-color: rgb(72, 72, 72);
display: flex;
justify-content: space-evenly;

}

.left{
  width: 25%;
  height: 95%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.left-Project{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.left-profolow,.left-book,.left-ecomers{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 25px;
  overflow: hidden;
  gap: 10px;
  background-color: rgb(96, 96, 96);
  border-radius: 20px;

}

.Projects-txt{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
}

.profoliw{
  color: rgb(255, 217, 0);
  font-size: 25px;
  text-decoration: none;
}

.profo-txt{
  color: rgb(255, 255, 255);
}

.book-txt{
  color: rgb(82, 180, 255);
  font-size: 25px;
  text-decoration: none;
}
.market-txt{
   color: rgb(197, 154, 250);
  font-size: 25px;
  text-decoration: none;
}

.middle{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.Work-exp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

}

.exp{
  color: white;
  font-size: 1.5rem;
}
.one,.two{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding:31px;
  overflow: hidden;
  gap: 9px;
  background-color: rgb(96, 96, 96);
  border-radius: 20px;
}


.txt{
  color: rgb(249, 140, 85);
  font-size: 25px;
}
.sub-txt{
  color: rgb(246, 217, 202);
  font-size: 15px;
}

.sub-sub-txt ,.nabu-ss{
  color: rgb(255, 255, 255);
}

.nabu-txt{
  color: rgb(72, 191, 255);
  font-size: 25px;
}

.nabu-sub{
  color: rgb(214, 241, 255);

}

.edu-txt{
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.edu-sub{
  color: rgb(195, 195, 195);
}

.edu-ss{
  color: whitesmoke;
}



.right{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 38px;
}

.Education{
  width: 85%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 25px;
  overflow: hidden;
  gap: 10px;
  background-color: rgb(96, 96, 96);
  border-radius: 20px;
}


.main-bottom{
width: 100%;
height: 50vh;
background-color: rgb(72, 72, 72);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 90px;
}

.bottom-middle{
display: flex;
justify-content: center;
align-items: center;
width: 75%;
height: 25%;
gap: 20px;
}
.container{
  border-radius: 20px;
  background-color: rgb(96, 96, 96);
  padding: 50px;
}

.container-txt{
  color: rgb(220, 220, 220);
}

.txt-how{
  color: rgb(169, 255, 172);
}

.click:hover{
  background-color:rgb(24, 24, 24) ;
  border: 1x solid rgb(24, 24, 24);
}

.image:hover{
  animation: rotate 1s both;
}

@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  
  100%{
      transform: rotate(360deg);
  }
};


